<div fxFlexFill fxLayout="row" fxLayoutAlign="center center" class="footer">
	<div fxFlex="33" fxLayoutAlign="start center" class="foot-1">
		<i class="fa fa-twitter-square fa-2x clickable" aria-hidden="true" (click)="openTwitter();"></i>&nbsp;&nbsp;
		<i class="fa fa-linkedin-square fa-2x clickable" aria-hidden="true" (click)="openLinkedIn();"></i>&nbsp;&nbsp;
		<i class="fa fa-terminal fa-2x clickable" aria-hidden="true" (click)="openBlog();"></i>
	</div>
	<div fxFlex="33" fxLayoutAlign="center center" class="foot-2">
		<a href="#">Privacy Notice</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#">Conditions of Use</a>
	</div>
	<div fxFlex="33" fxLayoutAlign="end center" class="foot-3">
		Logo Image © 2017 Data Standards Limited
	</div>
</div>