<div fxFlexFill fxLayout="column" class="full-height" fxLayoutAlign="center center">
	<div fxFlex=50px class="full-width" fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="4em" fxLayoutAlign="center center">
			<md-icon color="primary" class="clickable home-icon" [routerLink]="['/home']">home</md-icon>
		</div>
		<div fxFlex>
			<button md-raised-button color="primary">Sub-Option 1</button>
			<button md-raised-button color="primary">Sub-Option 2</button>
			<button md-raised-button color="accent">Sub-Option 3</button>
		</div>
	</div>
	<div fxFlex class="full-width pad-sides text-center">
		<h1>
			Option 2 - Sub Option #3
		</h1>
	</div>
</div>