# See http://help.github.com/ignore-files/ for more about ignoring files.
.gitignore

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

src/assets/bengalensis.jpg
src/assets/bieti.jpg
src/assets/catus.jpg
src/assets/chaus.jpg
src/assets/cluniculus.jpg
src/assets/colocolo.jpg
src/assets/deinonychus.jpg
src/assets/dirus.jpg
src/assets/geoffroyi.jpg
src/assets/guigna.jpg
src/assets/javanensis.jpg
src/assets/lagopus.jpg
src/assets/latrans.jpg
src/assets/lupus.jpg
src/assets/margarita.jpg
src/assets/nigripes.jpg
src/assets/pardalis.jpg
src/assets/planiceps.jpg
src/assets/rubiginosus.jpg
src/assets/silvestris.jpg
src/assets/tigrinus.jpg
src/assets/viverrinus.jpg
src/assets/vulpes.jpg
src/assets/wiedii.jpg
