  <div class="bordered" fxLayout="column">
      <div fxLayoutWrap fxLayout="row" class="full-width" *ngIf="order">
        <mat-toolbar class="border-full" color="" fxFlex.gt-sm="250px" fxFlex.lt-md=100 [routerLink]="['/option3']">
          <span class="full-width" *ngIf="currentFamily === -1">
            <mat-select [ngModel]="'Animalia'" placeholder="current order" floatPlaceholder="always" class="full-width">
              <mat-option value="Animalia">
                <span>Animalia</span>
              </mat-option>
            </mat-select>
          </span>
          <span *ngIf="currentFamily !== -1" class="full-width clickable">Order: Animalia</span>
        </mat-toolbar>
        <mat-toolbar *ngIf="currentFamily !== -1" class="border-full" color="" fxFlex.gt-sm="250px" fxFlex.lt-md=100>
          <span *ngIf="currentGenus === -1" class="full-width">
            <mat-select placeholder="current family" floatPlaceholder="always" class="full-width" [ngModel]="currentFamily" (ngModelChange)="currentFamily=$event;loadRoute('family');">
              <mat-option *ngFor="let fam of order.family; let i = index;" [value]="i">
                {{fam.id}}
              </mat-option>
            </mat-select>
          </span>
          <span *ngIf="currentGenus !== -1" class="full-width clickable" (click)="loadRoute('family')">Family: {{order.family[currentFamily].id}}</span>
        </mat-toolbar>
        <mat-toolbar class="border-full" color="" fxFlex.gt-sm="250px" fxFlex.lt-md=100 *ngIf="currentGenus !== -1">
          <span class="full-width" *ngIf="currentSpecies === -1">
            <mat-select placeholder="current genus" floatPlaceholder="always" class="full-width" [ngModel]="currentGenus" (ngModelChange)="currentGenus=$event;loadRoute('genus');">
              <mat-option *ngFor="let gen of order.family[currentFamily].genus; let i = index;" [value]="i">
                {{gen.id}}
              </mat-option>
            </mat-select>
          </span>
          <span *ngIf="currentSpecies !== -1" class="full-width clickable" (click)="loadRoute('genus')">Genus: {{order.family[currentFamily].genus[currentGenus].id}}</span>
        </mat-toolbar>
        <mat-toolbar class="border-full" color="" fxFlex.gt-sm="250px" fxFlex.lt-md=100 *ngIf="currentSpecies !== -1">
          <span class="full-width">
            <mat-select placeholder="current species" floatPlaceholder="always" class="full-width" [ngModel]="currentSpecies" (ngModelChange)="currentSpecies=$event;loadRoute('species');">
              <mat-option *ngFor="let spec of order.family[currentFamily].genus[currentGenus].species; let i = index;" [value]="i">
                {{spec}}
              </mat-option>
            </mat-select>
          </span>
        </mat-toolbar>
      </div>
      <div *ngIf="currentGenus === -1 || currentSpecies === -1" fxLayout="column" class="padded">
        <h3>Pick A
          <ng-container *ngIf="currentFamily === -1">Family</ng-container>
          <ng-container *ngIf="currentGenus === -1 && currentFamily !== -1">Genus</ng-container>
          <ng-container *ngIf="currentGenus !== -1">Species</ng-container>
        </h3>
        <div fxLayout.lt-md="column" fxLayout.gt-sm="row">
          <mat-toolbar fxFlex.gt-sm="250px" fxFlex.lt-md=100 class="border-full clickable set-width" [ngStyle]="{'background-color': colors[i] }" fxFlex="50px" *ngFor="let menuItem of currentSubmenu; let i = index;" (click)="setItem(menuItem);">
            {{menuItem}}
          </mat-toolbar>
        </div>
      </div>
  </div>
  <div fxLayout="column" class="pad-sides text-center">
    <div fxLayout="column" fxLayoutAlign="start center" class="full-width">
      <app-item1 class="full-width" *ngIf="currentGenus === -1 && currentFamily !== -1" [family]="order.family[currentFamily]"></app-item1>
      <app-item2 class="full-width" *ngIf="currentSpecies === -1 && currentGenus !== -1" [family]="order.family[currentFamily]" [genus]="order.family[currentFamily].genus[currentGenus]"></app-item2>
      <app-item3 class="full-width" *ngIf="currentSpecies !== -1" [family]="order.family[currentFamily]" [genus]="order.family[currentFamily].genus[currentGenus]" [species]="order.family[currentFamily].genus[currentGenus].species[currentSpecies]"></app-item3>
    </div>
  </div>