.fab-nav {
  opacity: 0.5;
  top: 50%;
  position: fixed;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;    
}
.fab-nav-left {
  left: 15px;
}
.fab-nav-right {
  right: 15px;
}
.fab-nav:hover {
  opacity: 1;
  -webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

.padded {
  padding: calc(1.5em + 5px);
}
