<div fxFlexFill fxLayout="column" class="full-height" fxLayoutAlign="center center">
	<div fxFlex=10 class="full-width pad-sides">
		<nav md-tab-nav-bar>
			<a md-tab-link [routerLink]="['/home']"><i class="fa fa-line-chart fa-lg"></i></a>
			<a md-tab-link active="true">Login</a>
			<a md-tab-link [routerLink]="['/acct/register']">Register</a>
		</nav>
	</div>
	<div fxFlex=80 class="full-width pad-sides text-center">
		<form class="full-width" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="login()">
			<h1 class="width-80" fxFlex=10>
				Login
			</h1>
			<div class="width-80" fxFlex=90 fxLayout="column" fxLayoutAlign="start center">
				<md-input-container [ngClass]="setClassEmail()">
					<input mdInput type="email" name="email" formControlName="email" placeholder="Email" autofocus>
				</md-input-container>
				<md-input-container [ngClass]="setClassPassword()">
					<input mdInput type="password" name="password" formControlName="password" placeholder="Password">
				</md-input-container>
				<button md-raised-button color="primary" class="btn-reg" type="submit" [disabled]="!loginForm.valid">
					Login
				</button>
			</div>
		</form>
	</div>
	<div fxFlex=10></div>
</div>