@import '~@angular/material/theming';
@include mat-core();

$my-primary: mat-palette($mat-teal, 300, 100, 600);
$my-accent: mat-palette($mat-blue-grey, 200, 50, 500);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);

.footer {
	background-color: mat-color($mat-blue-grey, 200);
}
app-top-nav {
	background-color: mat-color($mat-teal, 300);
}
.circle {
	background-color: mat-color($mat-teal, 300);
}