<div fxFlexFill fxLayout="column" class="full-height" fxLayoutAlign="center center">
	<div fxFlex=10 class="full-width" fxFlexLayout="column">
		<nav class="full-width" md-tab-nav-bar *ngIf="!isLoggedIn()">
			<a class="icon-nav" md-tab-link active="true"><i class="fa fa-line-chart fa-lg"></i></a>
			<a md-tab-link [routerLink]="['/acct/login']">Login</a>
			<a md-tab-link [routerLink]="['/acct/register']">Register</a>
		</nav>
		<nav class="full-width" md-tab-nav-bar *ngIf="isLoggedIn()">
			<a class="icon-nav" title="View current item." md-tab-link active="true"><i class="fa fa-line-chart fa-lg"></i></a>
			<a title="Create new item." md-tab-link [routerLink]="['/home/new']"><md-icon color="primary">add_circle</md-icon></a>
			<a md-tab-link [routerLink]="['/home/page1']">Page 1</a>
			<a md-tab-link [routerLink]="['/home/page2']">Page 2</a>
			<a md-tab-link [routerLink]="['/home/page3']">Page 3</a>
		</nav>
	</div>
	<div fxFlex=90 fxLayout="column" class="pad-sides text-center">
		<h1 fxFlex="50px" *ngIf="!isLoggedIn()">Default Landing Page - Welcome!</h1>
		<h1 fxFlex="50px" *ngIf="isLoggedIn()">Welcome, {{ username }}</h1>
		<p fxFlex>
			Spicy jalapeno bacon ipsum dolor amet leberkas incididunt aliqua dolor flank pariatur jowl pastrami. Bacon turkey magna eiusmod dolore enim venison filet mignon. Labore drumstick tempor ribeye strip steak, duis culpa capicola picanha est meatloaf shoulder ut mollit. Aliqua esse salami drumstick dolore ut exercitation do elit proident tenderloin pancetta in. Tempor aliqua minim swine, fugiat shoulder beef ribs meatball.
			<br><br>
			Cupidatat tail irure, enim cupim bacon venison dolor meatball officia mollit pork loin. Exercitation sausage ribeye occaecat. Drumstick aute chicken magna aliqua, jowl velit beef ribs lorem ullamco flank ad et sunt. Doner magna sirloin, porchetta t-bone pork loin sed cow in pancetta ground round pariatur dolore. Turkey dolore excepteur tail cow, pork chop ut aliqua kevin.
			<br><br>
			<img src="http://lorempixel.com/output/food-q-c-640-480-10.jpg">
			<br><br>
			Spicy jalapeno bacon ipsum dolor amet sed enim consectetur sausage, andouille consequat fugiat tongue chicken irure ex porchetta nisi pastrami turkey. Cow nulla beef pork chop reprehenderit corned beef shoulder bresaola. Enim consequat voluptate sed. Leberkas tri-tip flank in.
			<br><br>
			Cow hamburger pork belly tenderloin pork loin boudin ea. Dolore dolor spare ribs, dolore magna fugiat pork chop jowl. Fugiat salami in, tail pastrami tempor excepteur. Minim tempor meatloaf reprehenderit, consectetur fatback rump hamburger laboris deserunt cupidatat capicola jowl occaecat pig. Swine officia consequat, ut short ribs ham salami laboris proident kielbasa minim magna.
			<br><br>
			Landjaeger ribeye exercitation, short ribs fatback turducken consectetur venison mollit meatloaf dolore velit tri-tip tail in. Kevin turducken andouille, lorem porchetta in tri-tip beef pork belly ribeye ad drumstick cupim mollit. Beef ribs consectetur spare ribs filet mignon, chuck corned beef laboris aute meatball voluptate. Sausage shankle dolore filet mignon kevin. Kielbasa do ex beef ribs consequat prosciutto short loin turducken jerky pork boudin duis frankfurter pancetta. Shankle lorem sirloin, veniam cow aute cillum ut alcatra pastrami shoulder. Dolore cupim hamburger beef ribs bacon landjaeger.
			<br><br>
			Hamburger consequat voluptate, drumstick pork belly magna ground round eiusmod porchetta boudin shoulder ribeye labore chuck. Aute sunt leberkas, nulla shoulder tongue pig ea beef ribs short loin frankfurter laborum qui. Dolore bresaola cupim incididunt tri-tip. Consectetur adipisicing brisket chuck, leberkas tenderloin meatball enim velit doner exercitation pastrami. Jerky flank chuck, brisket meatloaf landjaeger in ground round fatback eu nostrud officia. Voluptate ex bacon ham in cillum quis hamburger meatloaf id jerky aliquip consectetur. In pig chuck beef ribs pastrami ullamco, corned beef pork alcatra cupim occaecat exercitation veniam.
			<br><br>
			Commodo bresaola meatloaf ground round. Rump ribeye jowl reprehenderit qui anim brisket filet mignon hamburger shank picanha cupidatat kevin. In consectetur ipsum voluptate qui, pork pastrami alcatra boudin aute. Kevin short ribs spare ribs, swine culpa consequat sirloin shoulder frankfurter short loin adipisicing tenderloin. Eu lorem brisket anim alcatra corned beef, cow capicola.
		</p>
	</div>
</div>